{% extends "all-pics/base.html" %}  {% block content %}
<!-- <h1 class="text-center">Wassup Y'All</h1> <br>
<nav class="navbar navbar-light bg-light">
 <span class="navbar-text">
   search for your needs
 </span>
</nav> -->

<div class="container">

 <div class="row">
   <!-- {# displaying Profiles Images #} -->
   {% for article in articles %}
   <!-- <div class="col-xs-4 col-sm-4 col-md-4 mt-5"> -->
     <!-- <div class="card" style="width: 14rem;"> -->
     <img src="{{pics_item.article_image.url}}" class="img-responsive" alt="Image">
       <!-- <div class="card-body"> -->

       <!-- <a<button type="button" href="{% url 'article' article_id=pics_item.id %}" class="btn btn-dark float-right">details &rarr;</button></a> -->
       <a href="{% url 'article' article_id=pics_item.id %}"><img src="{{pics_item.article_image.url}}" class="img-responsive " alt="Image"></a>

       <!-- </div> -->
     <!-- </div> -->

   </div>
   {% empty %}
   <div class="row">
     <h2 class="text-center">Oops No Images here</h2>
   </div>
   {% endfor%}
 </div>

</div>

{% endblock %}
